.dataview-demo .book-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.dataview-demo .book-author {
    margin: 0 0 1rem 0;
}

.dataview-demo .book-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
    padding: 0.2rem;
}

.dataview-demo .book-grid-item img {
    width: 170px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 1rem 0;
}

.dataview-demo .book-grid-item .book-grid-item-content {
    text-align: center;
}


